/* #######################################################################
	meanMenu
####################################################################### */

.mean-container {
	margin-top: 0px;
	padding-top: 28px;
}
.mean-container .navoutter {
	display: none;
}
a.meanmenu-reveal {
	display: none;
}
/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar { 
	float: left;
	width: 100%;
	position: relative;
	min-height: 33px;
	top: 0px;
	min-height: 40px;
	z-index: 100;
	background: #0a3151;
}
.mean-container a.meanmenu-reveal {
	width: 48px;
	height: 40px;
	padding: 10px 10px 8px 10px;
	position: absolute;
	top: 0px;
	right: 0;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-size: 26px !important;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-weight: 700;
	z-index: 999;
}
.mean-container a.meanmenu-reveal span {
	display: block;
	height: 4px;
	margin-top: 3px;
	background:#fff;
}
.mean-container .mean-nav { 
	float: left;
	width: 100%;
	min-height: 40px;
}
.mean-container .mean-nav > div { 
	width: 100%;
}
.mean-container .mean-nav .logo { 
	margin-left: 0px;
	width: 148px;
	padding: 5px 5px 5px 0px;	
	display: inline-block;
}
.mean-container .mean-nav .logo img { 
	width: 100%;
}
.mean-container .mean-nav #menu-menu-1 {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
	padding: 5px 0 0 ;
	background: #0a3151;
	z-index: 99;
	float: none;
	position: absolute;
	top: 40px;
	left: 0px; 
}
.mean-container .mean-nav #menu-menu-1 > li {
	display: block;
	border-bottom: 1px solid #fff;
	width: 100%;
	margin: 0px;
}
.mean-container .mean-nav ul li a {
	color: #FFFFFF;
	display: block;
	font-size: 13px;
	margin: 0;
	font-weight: bold;
	padding: 7px 10px;
	text-decoration: none;
	width:100%
}
.mean-container .mean-nav ul li.dropdown_Wrap > a:before {
	content: '\f0d7';
	font-family:FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
    float: right;
}
.mean-container .mean-nav ul li a i {
	float: right;
	margin-right: 10px;
}
.mean-container .mean-nav ul li:hover  , .mean-container .mean-nav ul li.active {
	color: #ee2d24;
	background: #a7aeaf;
}
.mean-container .mean-nav ul li.dropdown {
	display: none;
	min-height: auto !important;
	background: transparent;
}
.mean-container .mean-nav ul li:first-child a { 
	border: none; 
}
.mean-container .mean-nav #menu-menu-1 > li li {
	margin: 0px;
}
.mean-container .mean-push { 
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both; 
}
.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}
.mean-nav #menu-menu-1 .menu-item-has-children .dropdown {
	display: none;
	opacity: 0;
	visibility: hidden;
	transition: all .6s;	
	-webkit-transition: all .6s;	
	-moz-transition: all .6s;	
}
.mean-nav #menu-menu-1 .menu-item-has-children:hover .dropdown {
	display: block;
	opacity: 1;
	visibility: visible;
}
.mean-container .mean-nav ul ul {
	padding: 0px;
	/*display: none !important;*/
	position: relative;
	top:99%;
	width: 100%;
	display: block;
	float: none;
	background: transparent;
	box-shadow: none;
	border: none;
}
.mean-container .mean-nav ul li .dropdown .topmenucopy , .mean-container .mean-nav ul li:hover .dropdown .topmenucopy  {
	display: none !important;
}
.mean-container .mean-nav ul li:hover a , .mean-container .mean-nav ul li.active a {
	color: #000;
}
.mean-container .mean-nav #menu-menu-1 > li:last-child > a:after , .mean-container .mean-nav #menu-menu-1 > li:first-child > a:after {
	display: none;
}
.mean-container .headeroutter .toppart {
	position: relative;
}
.mean-container .headeroutter .toppart.topmenuopened {
	z-index: 9999;
}
.mean-container .headeroutter .toppart.topmenuopened .navbtn.fa-navicon:before{
	content: 'X';
    font-family: 'Roboto', sans-serif;
}
.mean-container .headeroutter .toppart ul.RT {
	border-top: 1px solid rgba(255,255,255,.2);
	margin-top: 10px;
}
.mean-container .headeroutter .toppart ul.RT li {
	border-bottom: 1px solid rgba(255,255,255,.2);
}
@media only screen and (max-width: 1200px) { 
	.mean-container {margin-top: 0px;padding-top: 28px;}
}
@media only screen and (max-width: 992px) { 
	.mean-container {margin-top: 0px;padding-top: 56px;}
	.mean-container .siderbar_wrap {margin-top: -260px;margin-bottom: 260px;}
}
@media only screen and (max-width: 768px) { 
	.mean-container {padding-top: 28px}
	.mean-container .siderbar_wrap {margin-top: 0px;margin-bottom:0px;padding: 0px;position: static;transition:all .0s;-webkit-transition:all .0s;-moz-transition:all .0s;float:none}
	.mean-container .headeroutter .toppart .navbtn {display: block;cursor: pointer;}
	.mean-container .headeroutter .toppart ul.RT {display: none;}
	.mean-container .headeroutter .toppart ul.RT li {display: block;width: 100%;}
	.mean-container .headeroutter .toppart ul.RT li a {display: block;}
}
@media only screen and (max-width: 480px) { 
	.mean-container {padding-top: 44px}
	.headeroutter .toppart .navbtn {top: 17px;}
	.mean-container .headeroutter .toppart ul.LT li {display: block;}
	.mean-container .headeroutter .toppart ul li a {padding: 5px;}
}